@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>
<body>
    <div class="fullContainer banner" id="homeSection">
        <header>

            <div class="containers">
                <nav>
                    <ul>
                        <li>
                            <a href="/Index">Home</a>
                        </li>
                        <li>
                            <a href="/View">About</a>
                        </li>
                        <li>
                            <a href="/Products">Service</a>
                        </li>
                        <li>
                            <a href="#">Project</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </header>
        <center>
        <div class="container">
            <h1>Welcome to the Landing Page</h1>

            <p>
                Welcome to the Landing Page, where innovation meets education! Our sample landing page provides a glimpse into a world of possibilities,
                Join us on this journey, unlocking doors to knowledge,
                growth, and achievement. Welcome to a space where every interaction counts – welcome to the Landing Page.
            </p>

            <br />
            <br />
            <br />
            <br />
            <button class="my-button">Click me</button>
        </div>
        </center>

    </div>
</body>
</html>